doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .top_wrapper
      .top_container
        .a-booking
          .booking-bg
            video.booking-video(playsinline="playsinline" loop='loop', muted='muted', autoplay='true', poster='assets/img/img_0.jpg')
              source(src='assets/video/hotel.mp4', type='video/mp4')
              | Your browser does not support the video tag.
          img.booking-guest(src="assets/img/guest.svg", alt="guest")
          .booking-logo
            .booking-cover
              | TWIN
              br
              | SHIELD
              br
              | RESORT
          .booking-details
            .booking-details_wheather Tokyo, Japan: 4 &#176;C
            .booking-details_img_cover
              img.booking-details_img(src="assets/img/sunny.svg", alt="sunny")
              img.booking-details_img(src="assets/img/half-sunny.svg", alt="half-sunny")
              img.booking-details_img(src="assets/img/windy.svg", alt="windy")
              img.booking-details_img(src="assets/img/cloudy.svg", alt="cloudy")
              img.booking-details_img(src="assets/img/rainny.svg", alt="rainny")
              img.booking-details_img(src="assets/img/snowflake.svg", alt="snowflake")

        .a-room.row
          .a-room--one.col.s12.l4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_1.jpg", alt="room_1")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Single Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Free wifi
                .room-body_btn
                  | Reserve a room
          .a-room--two.col.s12.l4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_2.jpg", alt="room_2")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Double Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Free wifi
                .room-body_btn
                  | Choose Room
          .a-room--three.col.s12.l4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_3.jpg", alt="room_3")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Deluxe Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s")
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s")
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s")
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s")
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s")
                  | Free wifi
                .room-body_btn
                  | Choose Room

        .a-conference
          .a-conference-bg
          .a-conference-body
            .a-conference-body_line1 OUR CONFERENCE CENTER
            .a-conference-body_line2 Check it now
            .a-conference-body_btn View more details

        .a-food
          .food-container
            .food-head OUR MENU
            .food-subhead Restaurant & Bar
            .food-body
              .food-body-topic
                .food-body-topic_menu
                  img.food-body-topic_menu_img(src="assets/img/menu.svg", alt="s")
                  | Main
                .food-body-topic_menu
                  img.food-body-topic_menu_img(src="assets/img/fruits.svg", alt="s")
                  | Dessert
                .food-body-topic_menu.food_sp_r_margin
                  img.food-body-topic_menu_img(src="assets/img/beverage.svg", alt="s")
                  | Drinks

              .food-body-item-cover.row
                .food-body-item-subcover.col.s12.xl6.food_padding_right
                  .food-body-item.food_float_right
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Grilled Beef with potatoes
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_right
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Fruit Vanilla Ice Cream
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_right
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Asian Hoisin Pork
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_right
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Spicy Fried Rice & Bacon
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_right
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Mango Chili Chutney
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right.food_sp_pad
                      .food-body-item_right_content $29


                .food-body-item-subcover.col.s12.xl6.food_padding_left
                  .food-body-item.food_float_left.food_sp_pad
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Chinese Pancakes
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_left
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Soup With Vegetables And Meat
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_left
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Udon Noodles With Vegetables
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_left
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Baked Lobster With A Garnish
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29
                  .food-body-item.food_float_left
                    .food-body-item_left
                      img.food-body-item_left_img(src="assets/img/food_item.jpg", alt="s")
                    .food-body-item_middle
                      .food-body-item_middle_content Octopus with Vegetables
                        .food-body-item_middle_sub_content Meat, Potatoes, Rice, Tomatoe
                    .food-body-item_right
                      .food-body-item_right_content $29

        .a-location
          .location-body
            .location-body_address
              i.fa.fa-map-marker
              | No:xx , Some adr , Province , Country
            .location-body_address
              i.fa.fa-phone
              | Phone: +94 123456789
            .location-body_address
              i.fa.fa-envelope
              | Email: mail@mail.com

        .a-hotel.row
          .col.s12.m6
            .row
              .col.s12
                .hotel-body
                  img.hotel-body_img(src="assets/img/img_5.jpg", alt="location")
                  .hotel-body_desc Cinque Terre
          .col.s12.m6
            .row
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_6.jpg", alt="location")
                  .hotel-body_desc New York
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_7.jpg", alt="location")
                  .hotel-body_desc  San Francisco
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_8.jpg", alt="location")
                  .hotel-body_desc Pisa
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_9.jpg", alt="location")
                  .hotel-body_desc Paris

        .a-subscribe
          .subscribe-container
            .subscribe-head Get the best offers first!
            form.subscribe-form
              .subscribe-form_group
                lable Email
                input.subscribe-form_group_input(type="text" placeholder="Your Email Address")
            .subscribe-btn Subscribe

        .a-contact
            .contact-container
              .contact-head Contact
              .contact-body
                | If you have any questions, do not hesitate to ask them.
                form.contact-form
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Name")
                  .contact-form_group
                    input.contact-form_group_input(type="Email" placeholder="Email")
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Message")
              .contact-btn Send Message

        .footer
          .footer-header Find Us On
          .footer-socialMedia
            .icon.icon-facebook
              img(src="assets/img/icon-facebook.svg", alt="facebook_icon")
            .icon.icon-instagram
              img(src="assets/img/icon-instagram.svg", alt="instagram")
            .icon.icon-snapchat
              img(src="assets/img/icon-google_plus.svg", alt="snapchat")
            .icon.icon-pinterset
              img(src="assets/img/icon-youtube.svg", alt="pinterset")
          .footer-bottom © 2018 All rights reserved.
    script(src='./assets/js/app.js')
