doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .top_wrapper
      .top_container
        .a-booking
          .booking-bg
            video.booking-video(loop='loop', muted='muted', autoplay='true', poster='assets/img/img_0.jpg')
              source(src='assets/video/hotel.mp4', type='video/mp4')
              | Your browser does not support the video tag.
          .booking-logo
            .booking-cover
              | Wizards
              br
              | of
              br
              |Digital Arts
        .a-room.row
          .a-room--one.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_1.jpg", alt="room_1")
              .room-body
                .room-body_topic Single Room
                .room-body_desc From $99
                .room-body_desc Single Bed
                .room-body_desc 15m
                  .sup 2
                .room-body_desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                .room-body_btn Choose Room
          .a-room--two.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_2.jpg", alt="room_2")
              .room-body
                .room-body_topic Double Room
                .room-body_desc From $149
                .room-body_desc Queen-Size Bed
                .room-body_desc 25m
                  .sup 2
                .room-body_desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                  i.fa.fa-tv
                .room-body_btn Choose Room
          .a-room--three.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_3.jpg", alt="room_3")
              .room-body
                .room-body_topic Deluxe Room
                .room-body_desc From $199
                .room-body_desc King-Size Bed
                .room-body_desc 40m
                  .sup 2
                .room-body_desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                  i.fa.fa-tv
                  i.fa.fa-glass
                  i.fa.fa-cutlery
                .room-body_btn Choose Room

        .a-message
          i.fa.fa-info.message_banner
          | On demand, we can offer playstation, babycall, children care, dog equipment, etc.

        .a-about
          .about-container
            .about-header About Us
            .about-body
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius facere et laudantium, minus optio tempore unde consequatur at iure soluta dicta qui aut quos, expedita deleniti? Alias corrupti unde error vero sit. Delectus voluptate ex nihil cumque vitae obcaecati doloribus illo fugiat amet qui perspiciatis aliquid eligendi, alias libero quae nam? Beatae perspiciatis eligendi voluptates accusamus similique culpa atque ipsa!
              .about-body_cards We Accept:
                i.fa.fa-credit-card
                i.fa.fa-cc-mastercard
                i.fa.fa-cc-visa
                i.fa.fa-cc-paypal
        .a-location
          .location-body
            .location-body_address
              i.fa.fa-map-marker
              | No:xx , Some adr , Province , Country
            .location-body_address
              i.fa.fa-phone
              | Phone: +94 123456789
            .location-body_address
              i.fa.fa-envelope
              | Email: mail@mail.com

        .a-hotel.row
          .col.s12.m6
            .row
              .col.s12
                .hotel-body
                  img.hotel-body_img(src="assets/img/img_5.jpg", alt="location")
                  .hotel-body_desc Cinque Terre
          .col.s12.m6
            .row
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_6.jpg", alt="location")
                  .hotel-body_desc New York
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_7.jpg", alt="location")
                  .hotel-body_desc  San Francisco
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_8.jpg", alt="location")
                  .hotel-body_desc Pisa
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_9.jpg", alt="location")
                  .hotel-body_desc Paris

        .a-subscribe
          .subscribe-container
            .subscribe-head Get the best offers first!
            form.subscribe-form
              .subscribe-form_group
                lable Email
                input.subscribe-form_group_input(type="text" placeholder="Your Email Address")
            .subscribe-btn Subscribe

        .a-contact
            .contact-container
              .contact-head Contact
              .contact-body
                | If you have any questions, do not hesitate to ask them.
                form.contact-form
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Name")
                  .contact-form_group
                    input.contact-form_group_input(type="Email" placeholder="Email")
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Message")
              .contact-btn Send Message

        .footer
          .footer-header Find Us On
          .footer-socialMedia
            .icon.icon-facebook
              img(src="assets/img/icon-facebook.svg", alt="facebook_icon")
            .icon.icon-instagram
              img(src="assets/img/icon-instagram.svg", alt="instagram")
            .icon.icon-snapchat
              img(src="assets/img/icon-google_plus.svg", alt="snapchat")
            .icon.icon-pinterset
              img(src="assets/img/icon-youtube.svg", alt="pinterset")
          .footer-bottom © 2018 All rights reserved.
    script(src='./assets/js/app.js')
