doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .top_wrapper
      .top_container
        #header
          .navbar
            .logo
              | Booking.lk
            .nav
              //- .nav_item.feature
              //-   a(href='#') features
              //- .nav_item.press
              //-   a(href='#') press
              //- .nav_item.download
              //-   a.download.button(href='#') Download
            #nav_toggle
              include ../custom_pugs/hamIcon/_ham_icon1
        #article-booking.row
          form.form_one.col.s12.m6.l4(action="")
            .f-topic
              i.fa.fa-bed
              lable Hotel Name
            .f-body
              .f-group
                i.fa.fa-calendar-o
                lable Check In
                input.txt_input(type="text" placeholder="DD MM YYYY")
              .f-group
                i.fa.fa-calendar-o
                lable Check Out
                input.txt_input(type="text" placeholder="DD MM YYYY")
              .f-group
                i.fa.fa-male
                lable Adults
                input.txt_input(type="number" value="1" name="Adults" min="1" max="6")
              .f-group
                i.fa.fa-child
                lable Kids
                input.txt_input(type="number" value="0" name="Kids" min="0" max="6")
              .f-search-btn
                i.fa.fa-search
                span Search Availability

        #article-room.row
          #a-roomONE.col.s12.m4
            .a-container
              .a-header
                img(src="assets/img/img_1.jpg", alt="room_1")
              .a-body
                .a-body-topic Single Room
                .a-body-desc From $99
                .a-body-desc Single Bed
                .a-body-desc 15m
                  sup 2
                .a-body-desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                .a-select-btn Choose Room
          #a-roomTWO.col.s12.m4
            .a-container
              .a-header
                img(src="assets/img/img_2.jpg", alt="room_2")
              .a-body
                .a-body-topic Double Room
                .a-body-desc From $149
                .a-body-desc Queen-Size Bed
                .a-body-desc 25m
                  sup 2
                .a-body-desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                  i.fa.fa-tv
                .a-select-btn Choose Room
          #a-roomTHREE.col.s12.m4
            .a-container
              .a-header
                img(src="assets/img/img_3.jpg", alt="room_3")
              .a-body
                .a-body-topic Deluxe Room
                .a-body-desc From $199
                .a-body-desc King-Size Bed
                .a-body-desc 40m
                  sup 2
                .a-body-desc
                  i.fa.fa-bath
                  i.fa.fa-phone
                  i.fa.fa-wifi
                  i.fa.fa-tv
                  i.fa.fa-glass
                  i.fa.fa-cutlery
                .a-select-btn Choose Room

        #article-message
          i.fa.fa-info.banner
          | On demand, we can offer playstation, babycall, children care, dog equipment, etc.

        #article-aboutUs
          .a-container
            .a-header About Us
            .a-content
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius facere et laudantium, minus optio tempore unde consequatur at iure soluta dicta qui aut quos, expedita deleniti? Alias corrupti unde error vero sit. Delectus voluptate ex nihil cumque vitae obcaecati doloribus illo fugiat amet qui perspiciatis aliquid eligendi, alias libero quae nam? Beatae perspiciatis eligendi voluptates accusamus similique culpa atque ipsa!
              .a-content_cards We Accept:
                i.fa.fa-credit-card
                i.fa.fa-cc-mastercard
                i.fa.fa-cc-visa
                i.fa.fa-cc-paypal
          .a-location
            img(src="assets/img/img_4.jpg", alt="location")
            .a-location_address
              i.fa.fa-map-marker
              | No:xx , Some adr , Province , Country
            .a-location_address
              i.fa.fa-phone
              | Phone: +94 123456789
            .a-location_address
              i.fa.fa-envelope
              | Email: mail@mail.com

        #article-hotels
          .a-hotelONE
            img(src="assets/img/img_5.jpg", alt="location")
            .a-cityName Cinque Terre
          .a-hotelONE
            img(src="assets/img/img_6.jpg", alt="location")
            .a-cityName New York
          .a-hotelONE
            img(src="assets/img/img_7.jpg", alt="location")
            .a-cityName San Francisco
          .a-hotelONE
            img(src="assets/img/img_8.jpg", alt="location")
            .a-cityName Pisa
          .a-hotelONE
            img(src="assets/img/img_9.jpg", alt="location")
            .a-cityName Paris

        #article-subscribe
          .a-container
            .a-header Get the best offers first!
            .a-content
              form.form_two
                .f-group
                  lable Email
                  input.txt_input(type="text" placeholder="Your Email Address")
            .a-subscribe-btn Subscribe
        #article-contact
            .a-container
              .a-header Contact
              .a-content
                | If you have any questions, do not hesitate to ask them.
                form.form_two
                  .f-group
                    input.txt_input(type="text" placeholder="Name")
                  .f-group
                    input.txt_input(type="Email" placeholder="Email")
                  .f-group
                    input.txt_input(type="text" placeholder="Message")
              .a-send-btn Send Message

        #footer
          .footer-header Find Us On
          .footer-socialMedia
            .icon.icon-facebook
              img(src="assets/img/icon-facebook.svg", alt="facebook_icon")
            .icon.icon-instagram
              img(src="assets/img/icon-instagram.svg", alt="instagram")
            .icon.icon-snapchat
              img(src="assets/img/icon-google_plus.svg", alt="snapchat")
            .icon.icon-pinterset
              img(src="assets/img/icon-youtube.svg", alt="pinterset")
          .footer-bottom © 2018 All rights reserved.
    script(src='./assets/js/vendors.js')
    script(src='./assets/js/app.js')
