doctype html
html(lang='en')
  head
    include ../globals/head.pug
  body
    .top_wrapper
      .top_container
        .a-booking
          .booking-bg
            video.booking-video(playsinline="playsinline" loop='loop', muted='muted', autoplay='true', poster='assets/img/img_0.jpg')
              source(src='assets/video/hotel.mp4', type='video/mp4')
              | Your browser does not support the video tag.
          img.booking-guest(src="assets/img/guest.svg", alt="guest")
          .booking-logo
            .booking-cover
              | TWIN
              br
              | SHIELD
              br
              | RESORT
          .booking-details
            .booking-details_wheather Tokyo, Japan: 4 &#176;C
            .booking-details_img_cover
              img.booking-details_img(src="assets/img/sunny.svg", alt="sunny")
              img.booking-details_img(src="assets/img/half-sunny.svg", alt="half-sunny")
              img.booking-details_img(src="assets/img/windy.svg", alt="windy")
              img.booking-details_img(src="assets/img/cloudy.svg", alt="cloudy")
              img.booking-details_img(src="assets/img/rainny.svg", alt="rainny")
              img.booking-details_img(src="assets/img/snowflake.svg", alt="snowflake")

        .a-room.row
          .a-room--one.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_1.jpg", alt="room_1")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Single Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Free wifi
                .room-body_btn
                  | Reserve a room
          .a-room--two.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_2.jpg", alt="room_2")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Double Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Free wifi
                .room-body_btn
                  | Choose Room
          .a-room--three.col.s12.m4
            .room-container
              .room-header
                img.room-header_img(src="assets/img/img_3.jpg", alt="room_3")
              .room-body
                .room-body_topic
                  .room-body_topic_left
                    .room-body_topic_star_cover
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/full-star.svg", alt="s")
                      img.room-body_topic_star(src="assets/img/half-star.svg", alt="s")
                    .room-body_topic_name Deluxe Room
                  .room-body_topic_right
                    | $99
                    span.room-body_topic_right_span /night
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Perfect for traveling couples
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Breakfast included
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Two double beds
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Baby sitting facilities
                .room-body_desc
                  img.room-body_desc_correct(src="assets/img/correct.svg", alt="s") 
                  | Free wifi
                .room-body_btn
                  | Choose Room

        .a-message
          i.fa.fa-info.message_banner
          | On demand, we can offer playstation, babycall, children care, dog equipment, etc.

        .a-about
          .about-container
            .about-header About Us
            .about-body
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius facere et laudantium, minus optio tempore unde consequatur at iure soluta dicta qui aut quos, expedita deleniti? Alias corrupti unde error vero sit. Delectus voluptate ex nihil cumque vitae obcaecati doloribus illo fugiat amet qui perspiciatis aliquid eligendi, alias libero quae nam? Beatae perspiciatis eligendi voluptates accusamus similique culpa atque ipsa!
              .about-body_cards We Accept:
                i.fa.fa-credit-card
                i.fa.fa-cc-mastercard
                i.fa.fa-cc-visa
                i.fa.fa-cc-paypal
        .a-location
          .location-body
            .location-body_address
              i.fa.fa-map-marker
              | No:xx , Some adr , Province , Country
            .location-body_address
              i.fa.fa-phone
              | Phone: +94 123456789
            .location-body_address
              i.fa.fa-envelope
              | Email: mail@mail.com

        .a-hotel.row
          .col.s12.m6
            .row
              .col.s12
                .hotel-body
                  img.hotel-body_img(src="assets/img/img_5.jpg", alt="location")
                  .hotel-body_desc Cinque Terre
          .col.s12.m6
            .row
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_6.jpg", alt="location")
                  .hotel-body_desc New York
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_7.jpg", alt="location")
                  .hotel-body_desc  San Francisco
              .row
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_8.jpg", alt="location")
                  .hotel-body_desc Pisa
                .hotel-body.col.s12.m6
                  img.hotel-body_img(src="assets/img/img_9.jpg", alt="location")
                  .hotel-body_desc Paris

        .a-subscribe
          .subscribe-container
            .subscribe-head Get the best offers first!
            form.subscribe-form
              .subscribe-form_group
                lable Email
                input.subscribe-form_group_input(type="text" placeholder="Your Email Address")
            .subscribe-btn Subscribe

        .a-contact
            .contact-container
              .contact-head Contact
              .contact-body
                | If you have any questions, do not hesitate to ask them.
                form.contact-form
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Name")
                  .contact-form_group
                    input.contact-form_group_input(type="Email" placeholder="Email")
                  .contact-form_group
                    input.contact-form_group_input(type="text" placeholder="Message")
              .contact-btn Send Message

        .footer
          .footer-header Find Us On
          .footer-socialMedia
            .icon.icon-facebook
              img(src="assets/img/icon-facebook.svg", alt="facebook_icon")
            .icon.icon-instagram
              img(src="assets/img/icon-instagram.svg", alt="instagram")
            .icon.icon-snapchat
              img(src="assets/img/icon-google_plus.svg", alt="snapchat")
            .icon.icon-pinterset
              img(src="assets/img/icon-youtube.svg", alt="pinterset")
          .footer-bottom © 2018 All rights reserved.
    script(src='./assets/js/app.js')
