#article-hotels
    background: #000
    padding: 20px
    .a-hotelONE
        padding: 20px
        height: 60px
        background: red
        img
            // display: none
            // width: 100%
            // height: auto
