title Hotel Booking
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')

//- Webpage details
meta(name='author', content='Sachin Kodagoda')
meta(name='keywords', content='Hotel, Booking')
meta(name='description', content='booking hotels')

//- Chrome, Firefox OS and Opera
meta(name='theme-color', content='black')
meta(name='apple-mobile-web-app-status-bar-style', content='black')

//- Favicon
link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon', sizes='16x16')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")

//- css
link(rel='stylesheet', href='/assets/css/main.css')
