form.form_one.col.s12.m6.l4(action="")
.f-topic
    i.fa.fa-bed
    lable Hotel Name
.f-body
    .f-group
    i.fa.fa-calendar-o
    lable Check In
    input.txt_input(type="text" placeholder="DD MM YYYY")
    .f-group
    i.fa.fa-calendar-o
    lable Check Out
    input.txt_input(type="text" placeholder="DD MM YYYY")
    .f-group
    i.fa.fa-male
    lable Adults
    input.txt_input(type="number" value="1" name="Adults" min="1" max="6")
    .f-group
    i.fa.fa-child
    lable Kids
    input.txt_input(type="number" value="0" name="Kids" min="0" max="6")
    .f-search-btn
    i.fa.fa-search
    span Search Availability