.footer
  height: 500px
  background: #2C2727
  color: #ffffff
  font-weight: 400
  text-align: left
  display: flex
  justify-content: center
  +clearfix

.f-item
  width: 255px
  &_head
    width: 100%
    font-size: 24px
    font-family: "Playfair Display", Georgia, serif
    margin-bottom: 40px
  &_body
    color: #8F8D77
    font-size: 16px
  &_date
    width: 100%
    color: #8F8D77
    margin-bottom: 16px
  &_range
    color: #ffffff