.footer
  height: auto
  background: #2C2727
  color: #ffffff
  font-weight: 400
  text-align: left

.f-container
  padding: 20px
  display: flex
  justify-content: center
  +clearfix

.f-item
  width: 220px
  margin: 0 20px
  &_head
    width: 100%
    font-size: 24px
    font-family: "Playfair Display", Georgia, serif
    margin: 40px auto
    // text-align: center
  &_body
    color: #8F8D77
    font-size: 16px
  &_date
    width: 100%
    color: #8F8D77
    margin-bottom: 16px
  &_range
    color: #ffffff
  
.f-rights
  // background: #606060
  margin-top: 50px
  text-align: center
  font-size: 16px
  height: 60px
  line-height: 60px