        #header
          .navbar
            .logo
              | Booking.lk
            .nav
              //- .nav_item.feature
              //-   a(href='#') features
              //- .nav_item.press
              //-   a(href='#') press
              //- .nav_item.download
              //-   a.download.button(href='#') Download
            #nav_toggle
              include ../custom_pugs/hamIcon/_ham_icon1